@include border-box-sizing; //for older IE

$container-max-width: 1400px;
$footer-height: 312px;

$susy: (
  columns: 12,
  container: 95%,
  gutters: 1/4,
  gutter-position: inside
);

$narrow   : 400px;
$small    : 650px;
$medium   : 960px;
$wide     : 1200px;

//Add Color Palette
$darkgray    : #1e292f;
$lightgray   : #28363d;
$softgray    : #8198a0;
$hovergray   : #6b848c;
$orange      : #ff8207;
$softblue    : #d4d7d8;
$red         : #ff8207;
$light       : #FFFFFF;


$backgroundLight  : $light;
$backgroundDark   : $lightgray;
$typeDefault      : $softgray;
$navBackground    : $lightgray;
$navHover         : $hovergray;

//Font variables
$fontfamily       : 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin      : 200;
$normal    : 400;
$bold      : 600;
$heavy     : 800;

$headFont   : $thin 4.2rem/4.5rem $fontfamily;
$mainFont   : $thin 1.8rem/2.0rem $fontfamily;
$headColor  : $lightgray;
