.review{
  background-color: $darkgray;
}
.review__header{
  text-align: center;
  text-transform: uppercase;
  font: $headFont;
  word-spacing: 10px;
  padding:10px 0;
  position:relative;
  color: $light;
}
.review__text{
  @extend .about__text;
}