.sendreview{
  background-color: $light;
  padding:30px 0;
  position:relative;
}
.sendreview .container{
  max-width:1200px;
}
.sendreview__header{
  @extend .about__header;
}
.sendreview__text{
  @extend .about__text;
}
.sendreview__contacts{
  @include span(5);
  @include breakpoint(0 1150px){
    float:none;
    width:100%;
  }
  float:left;
  .sendreview__contacts-header{
    color:$orange;
    font-size: 2.4rem;
    padding:20px 0;
    text-transform: uppercase;
    font-weight: $heavy;
  }
  .senreview__contacts-text{
    font-size: 1.6rem;
    line-height: 1.2;
    padding:10px 0;
    font-weight: $normal;
  }
}
.sendreview__sendform{
  float:right;
  @include span(7 at 5 of 12);
  @include breakpoint(0 1150px){
    float:none;
    width:100%;
    h3{
      text-align: center;
    }
    .sendreview__sendform-capcha h3{
      text-align: left;
    }
  }
}
.sendreview__sendform-header{
    color:$darkgray;
    font-size: 2.4rem;
    padding:20px 0 15px;
    text-transform: uppercase;
    font-weight: $heavy;
    line-height: 1;
}
.sendreview__sendform-input, .sendreview__sendform-textarea{
  width:100%;
  font-style:italic;
  text-indent: 2px;
}
.sendreview__sendform-input{
  border-left:none;
  border-right:none;
  border-top:none;
  border-width:1px;
  border-color: $softgray;
  outline:none;
  font-size: 1.8rem;
  height:20px;
  line-height: 21px;
}
.sendreview__sendform-textarea{
  font-weight: $thin;
  resize: none;
  display:block;
  background: transparent url("../images/textareaLine.png") repeat; 
  border:none;
  outline:none;
  line-height: 21px;
  font-size: 2.4rem;
  margin-bottom:30px;
}

.sendreview__sendform-input::-webkit-input-placeholder {
    color: $typeDefault; /* Цвет подсказывающего текста */
}
.sendreview__sendform-textarea::-webkit-input-placeholder{
  color: $typeDefault; /* Цвет подсказывающего текста */
}
.sendreview__sendform-addphoto{
   position:relative;
   height:60px;
   margin-bottom:10px;
}
.sendreview__sendform-uploadlabel{
  cursor:pointer;
  position: absolute;
  background-color: $orange; 
  display: inline-block;
  width: 50px;
  height: 60px;
  line-height: 60px;
  font-size: 3.0rem;
  text-align: center;
  text-transform: uppercase;
  color:$light;
  left: 0;
  bottom: 0;
  @include border-radius(10px);
}
.sendreview__sendform-fileupload{
  position: absolute;
  top: 0;
  left: -9999px;
}
.sendreview__sendform-filename{
  display:none;
}
.sendreview__sendform-span{
  margin-left:60px;
  line-height: 60px;
  height:60px;
  color: #1e292f;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: $heavy;
}
.sendreview__sendform-capcha{
  @include clearfix;
  position: relative;
  .sendreview__sendorm-container_capcha{
    float:left;
    min-width:300px;
    width:50%;
  }
  .sendreview__sendform-label{
    //float:left;
    //min-width:300px;
    width:100%;
  }
}
.sendreview__sendform-picture{
  background: url(../images/capcha.jpg) 0 0 no-repeat;
  width:137px;
  height:41px;
  margin-top:30px;
}
.sendreview__sendform-container_submit{
  width:292px;
  float:left;
}
.sendreview__sendform-submit{
  cursor:pointer;
  margin-top:90px;
  //float:left;
  color:$light;
  text-transform: uppercase;
  width:220px;  
  text-align: center;
  height:60px;
  line-height: 60px;
  background-color: $orange;
  @include border-radius(10px);
  font-size: 1.8rem;
  border:0;
  outline:0;
  // @include breakpoint($small $medium){
  //   float:right;
  // }
  // @include breakpoint(0 $small){
  //   float:left;
  // }
}
.sendreview__scrolltop{
  width:60px;
  height:60px;
  text-indent:-9999px;
  background: url(../images/scrollTop.png) 0 0 no-repeat;
  bottom:10px;
  right: 5%;
  display:inline-block;
  position:absolute;
}